body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

  main {
    margin-top: 100px;
    width: 100%;
  }

  /* Study Buddy Background */
span{
  font-size: 1.2em;
  line-height: 2em;
  padding: 0px 20px 0px 20px;
  font-weight: bold;
  display: table
}
  #studyBuddy {
    padding: 200px;
    background-image: url("../img/sbFrontFrame.png");
    width: 550px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
  }

  /* Left and Right side buttons*/

  img {
    cursor: pointer;
  }

  #outerLeft {
    margin-top: -95px;
  }

  #outerRight {
    float: right;
    margin-top: -222px;
    margin-right: -164px;
  }

  #sbUp>img {
    margin-left: 33px;
  }

  #sbDwn>img {
    margin-top: 7px;
    margin-left: 32px;
    margin-bottom: -10px
  }

  #sbLft>img {
    margin-top: 8px;
  }

  .sbMenSel {

    margin-left: 15px;

  }

  .menu-disabled {
    color: grey;
    display: table
  }

  #sbMenuBtn {
    margin-top: -5px;
    
  }

  .answerBtns {
    position: relative;
    margin-top: 123px;
    margin-left: -142px;

  }

  .answerBtn {

    width: 90px;
  }

  .sbArrow {
    padding: 20px;
    cursor: pointer;
    margin-left: -2px;
  }

  #FBarrow {
    position: absolute;
  display: inline-block;
  left: 43%;
  margin-top: -80px;
  z-index: 1000;
  font-weight: 100;
  font-size: 1em;

  }

   .arrowtext {
  display: inline-block
  }
  /* Frame for all dynamic content */

  #frame {
    position: relative;
  height: 315px;
  width: 500px;
  margin: 0 auto;
  margin-top: -295px;
  margin-left: 27px;

  }
#questionBottom{
  font-size: .8em;
  font-weight: 100;
  margin: 0 auto;
  margin-top: -18px;
  border: 1px solid red;
  border-radius: 10px;
  position: absolute;
  display: inline-block;
  left: 31%;
  margin-top: -33px;
  z-index: 1001;
}
 
#questionBottom > img{
  padding: 0px 5px 0px 5px;
 margin-bottom: -7px
}
  .answer-icon {
    margin-bottom: -5px;
    margin-right: 5px;
  }

  .answer-q {
    background-image: url("../img/iconQ.png");
  }

  .x-icon {
    margin-left: -25px;
    margin-bottom: -5px;
  }

  .y-icon {
    margin-left: -25px;
    margin-bottom: -5px;
  }

  #question {
    margin-top: -40px
  }

  #questionText {
    padding-left: 10px;
    margin-left: 5px;
    min-height: 300px;
    margin-top: 10px
  }

  .menu-heading {
    margin-top: 10px;

    text-align: right;
    padding: 0 10px 5px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-style: solid;
    border-bottom-color: red;

  }

  .main-menu {
    width: 480px;
    margin: 0 auto;
    text-align: center;
  }


  #quesNavLeft {
    margin-left: 45%;
    margin-right: 20px;
  }

  .hideMe {
    display: none;
  }

  #animation {
    margin-left: 40px;
    margin-top: 10px;
  }

  #sbMenu {
    margin-left: 80px;
    margin-top: 60px
  }

  .selected {
    border: 2px solid #f00;
    border-radius: 10px
  }

  .answer-image {
    float: right;
    margin-top: -180px;
    margin-right: 20px;
    max-width: 150px;
  }

  .answers {
    line-height: 2;
    margin-top: 50px;
    min-height: 200px
  }

  #rev-mistakes {
    float: right;
    margin: -150px 0 0 0;
  }

  .lessonTitle {
    max-width: 300px;
    margin-top: 40px;
    display: table;
  }

  #scores-table {
    margin-top: 40px;
  }

  

  #feedbackDiv {
    border: none !important;
    transform: translateZ(0);
  }

  #feedbackDiv>p {

    vertical-align: middle;
    line-height: 2;
    margin-bottom: 20px;

  }

  #feedbackDiv>p>img {
    max-height: 240px;
    text-align: center;
    margin-left: 10%;
  }

  #closeBtn {
    width: 80px;
    margin: 0;

  }

  .highlight {
    -webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
-moz-box-shadow:    inset 0 0 10px #fbff00ec;
 -webkit-box-shadow: inset 0 0 10px #fbff00ec;
 box-shadow:         inset 0 0 10px #fbff00ec;
 border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
  }


  #lessonData {
    position: fixed;
    /* border: 1px solid black; */
    top: 15px;
    left: 15px;
    padding: 15px 15px 5px 30px;

  }

  #lessonData>p {

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

  }

  #info-button {
    background-color: none;
    border: none;
  }